.contact {
	padding: 100px 0px;
	background: $secondaryColour;
	.contact-text-container {
		margin-bottom: 70px;
		padding-top: 20px;
		text-align: center;
		h2 {
			color: white;
		}
		h2:before {
			content: "Contact";
			color: #2a2a2a;
		}
		h2:after {
			width: 129px;
		}	
	}
}

.contact-container {
	display: flex;
	.contact-container__info {
		width: 50%;
		position: relative;
	}
	.contact-container__text {
		margin-right: 10%;
		width: 50%;
		p {
			line-height: 25px;
		}
		h4 {
			font-size: 20px;
			letter-spacing: 3px;
			margin-bottom: 0px;
		}
	}
}

.email {
	display: flex;
	align-items: center;
	i {
		font-size: 30px;
		margin-right: 30px;
	}
	
}

.phone {
	display: flex;
	align-items: center;
	i {
		font-size: 30px;
		margin-right: 30px;
	}
}

.socials {
	margin-top: 10px;
	display: flex;
	position: absolute;
	bottom: 0;

	a {
		font-size: 30px;
		text-decoration: none;
		color: white;
		margin-right: 30px;
		transition: 0.3s all ease;
		padding: 20px;
	}
	a:hover {
		color: $primaryColour;
	}
	a:first-child {
		padding-left: 0px;
	}
}

.contact-img-1 {
	max-width: 50%;
}

.contact-img-2 {
	max-width: 25%;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {

	.contact-img-1 {
		max-width: 75%;
	}

	.contact-img-2 {
		max-width: 50%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {


	.contact {
		padding: 35px 0px 20px 0px;
		.contact-text-container {
			margin-bottom: 35px;
		}
	}
	.contact-container {
		flex-direction: column;
		.contact-container__text {
			width: 100%;
			text-align: center;
			h4 {
				margin-bottom: 20px;
			}
		}
		.contact-container__info {
			width: 100%;
		}
	}
	.socials {
		margin-top: 40px;
		display: flex;
		position: relative;
		justify-content: space-between;
		p {
			margin: 0px;
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.contact {
		.contact-text-container {
			margin-bottom: 20px;
		}
	}
	.phone {
		i {
			margin-right: 15px;
		}	
	}
	.email {
		i {
			margin-right: 15px;
		}
	}
}







