.contact {
	padding: 100px 0px;
	background: $secondaryColour;
	.contact-text-container {
		margin-bottom: 20px;
		padding-top: 20px;
		text-align: center;
		h2 {
			color: white;
		}
		h2:before {
			content: "Contact";
			color: #2a2a2a;
		}
		h2:after {
			width: 129px;
		}	
	}
}