footer {
	background: $secondaryColour;
	color: white;
	text-align: center;
	p {
		padding: 20px;
		margin: 0px;
		font-size: 14px;
		padding-bottom: 20px;
		padding-top: 10px;
	}
	p:first-child {
		padding-bottom: 0px;
	}
	a {
		text-decoration: none;
		color: $primaryColour;
	}

}