.portfolio {
	padding: 100px 0px;
	background-color: $fourthColour;
	.portfolio-text-container {
		position: relative;
		margin-bottom: 70px;
		padding-top: 20px;
		text-align: center;
		h2:before {
			content: "Projects";
		}
		h2:after {
			width: 135px;
		}	
	}
	.portfolio--gallery__nav {
		text-align: center;
		margin-bottom: 40px;
		button {
			width: 135px;
			margin: 0px 10px;
			background: $primaryColour;
		}
	}
	.grid-sizer {
		width: 25%;
	}
	.portfolio--gallery__cell {
		width: calc(25% - 10px);
		// float: left;
		display: inline-block;
		padding: 5px;
		img {
			max-width: 100%;
		}
	}
	
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.portfolio {
		.grid-sizer {
			width: 33.3%;
		}	 
		.portfolio--gallery__cell {
			width: calc(33.3% - 10px);
			padding: 2.5px;
		}
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.portfolio {
		padding: 35px 0px;
		.portfolio-text-container {
			margin-bottom: 20px;
		}
		.portfolio--gallery__nav {
			margin-bottom: 20px;
			button {
				width: 80%;
				margin: 5px;
				font-size: 14px;
			}
		}
		.grid-sizer {
			width: 50%;
		}	 
		.portfolio--gallery__cell {
			width: calc(50% - 10px);
		}
	}

}