article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  width: 100%;
  color: white;
  font-family: "Lato", sans-serif; }

.wrapper {
  margin: 0 auto;
  max-width: 80%; }

h1 {
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 10px;
  margin-bottom: 10px;
  text-align: center; }

h2 {
  font-family: "Monserrat", sans-serif;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 23px;
  color: #222;
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h2:before {
  position: absolute;
  display: block;
  font-size: 130px;
  color: #f4f4f4;
  font-weight: 700;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1; }

h2:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 150px;
  background-color: #499dde;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 24px;
  z-index: -1; }

h3 {
  font-family: "Lato", sans-serif;
  letter-spacing: 5px; }

h4 {
  font-family: "Lato", sans-serif; }

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px; }

button {
  padding: 15px 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: transparent;
  font-family: "Monserrat", sans-serif;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border: none; }

/* 2D TRANSITIONS */
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.home {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent)), url(../assets/space.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../assets/space.jpg);
  background-size: cover; }
  .home nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px; }
    .home nav ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding-left: 2.5%;
      padding-right: 2.5%; }
      .home nav ul li {
        display: inline-block;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 5px;
        font-family: "Lato", sans-serif; }
      .home nav ul a {
        color: white;
        border-bottom: 5px solid transparent; }
      .home nav ul a:hover {
        border-bottom: 5px solid #499dde; }

.home-body {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .home-body .logo {
    padding-bottom: 30px;
    max-width: 20%;
    -ms-flex-line-pack: center;
        align-content: center; }
    .home-body .logo img {
      max-width: 100%; }
  .home-body .home-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .home-body .home-text-container h1 {
      margin-top: 0; }
    .home-body .home-text-container h3 {
      width: 70%;
      text-align: center;
      line-height: 30px;
      margin-bottom: 50px;
      margin-top: 0; }
  .home-body button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid transparent; }

.sticky-top {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #222;
  width: 100%;
  padding-bottom: 20px; }

.services {
  padding: 100px 0px; }
  .services .services-text-container {
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center; }
    .services .services-text-container h2:before {
      content: "Services"; }
    .services .services-text-container h2:after {
      width: 140px; }
  .services .services-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 60px; }
    .services .services-container i {
      color: #499dde;
      font-size: 90px; }
    .services .services-container h3 {
      color: #222;
      text-align: center;
      margin-top: 20px;
      letter-spacing: 2px; }
    .services .services-container .services-cell {
      width: calc(25% - 20px);
      padding: 35px 20px;
      margin: 10px;
      -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
      text-align: center; }

.portfolio {
  padding: 100px 0px;
  background-color: #f9f9fb; }
  .portfolio .portfolio-text-container {
    position: relative;
    margin-bottom: 70px;
    padding-top: 20px;
    text-align: center; }
    .portfolio .portfolio-text-container h2:before {
      content: "Projects"; }
    .portfolio .portfolio-text-container h2:after {
      width: 135px; }
  .portfolio .portfolio--gallery__nav {
    text-align: center;
    margin-bottom: 40px; }
    .portfolio .portfolio--gallery__nav button {
      width: 135px;
      margin: 0px 10px;
      background: #499dde; }
  .portfolio .grid-sizer {
    width: 25%; }
  .portfolio .portfolio--gallery__cell {
    width: calc(25% - 10px);
    float: left;
    display: inline-block;
    padding: 5px; }
    .portfolio .portfolio--gallery__cell img {
      max-width: 100%; }

.clients {
  padding: 100px 0px;
  background: white; }
  .clients .clients-text-container {
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center; }
    .clients .clients-text-container h2:before {
      content: "Clients"; }
    .clients .clients-text-container h2:after {
      width: 112px; }

.carousel-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2.5%;
  margin-bottom: 30px; }

.carousel-cell__img {
  width: 60%;
  padding: 2.5% 0% 2.5% 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block; }
  .carousel-cell__img img {
    width: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.carousel-cell__text {
  width: 40%;
  padding: 2.5% 5% 2.5% 2.5%;
  color: #222;
  display: inline-block;
  text-align: right; }
  .carousel-cell__text h4 {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 0px; }
  .carousel-cell__text p {
    margin-bottom: 30px;
    line-height: 20px; }
  .carousel-cell__text button {
    background: #499dde; }

.about {
  padding: 100px 0px 200px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.3))), url(../assets/toronto.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3)), url(../assets/toronto.jpg);
  background-size: cover; }
  .about .about-text-container {
    margin-bottom: 100px;
    padding-top: 20px;
    text-align: center; }
    .about .about-text-container h2:before {
      content: "About"; }
    .about .about-text-container h2:after {
      width: 98px; }

.about-description-container {
  padding: 0% 25%; }
  .about-description-container p {
    color: #222;
    line-height: 25px;
    text-align: center; }
  .about-description-container a {
    line-height: 20px;
    color: #222;
    text-decoration: none; }
  .about-description-container a:hover {
    border-bottom: 5px solid #499dde; }

.contact {
  padding: 100px 0px;
  background: #222; }
  .contact .contact-text-container {
    margin-bottom: 70px;
    padding-top: 20px;
    text-align: center; }
    .contact .contact-text-container h2 {
      color: white; }
    .contact .contact-text-container h2:before {
      content: "Contact";
      color: #2a2a2a; }
    .contact .contact-text-container h2:after {
      width: 129px; }

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .contact-container .contact-container__info {
    width: 50%;
    position: relative; }
  .contact-container .contact-container__text {
    margin-right: 10%;
    width: 50%; }
    .contact-container .contact-container__text p {
      line-height: 25px; }
    .contact-container .contact-container__text h4 {
      font-size: 20px;
      letter-spacing: 3px;
      margin-bottom: 0px; }

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .email i {
    font-size: 30px;
    margin-right: 30px; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .phone i {
    font-size: 30px;
    margin-right: 30px; }

.socials {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0; }
  .socials a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  .socials a:hover {
    color: #499dde; }

footer {
  background: #222;
  color: white;
  text-align: center; }
  footer p {
    padding: 20px;
    margin: 0px;
    font-size: 14px; }
